:root {
  --editor-background: rgb(30, 30, 30);
  --top-menu-background: rgb(60, 60, 60);
  --left-tool-background: rgb(37, 37, 38);
  --left-foreground: rgb(51, 51, 51);
  --editor-tab-background: rgb(45, 45, 45);
  --base-font-color: rgb(204, 204, 204);
}
